apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: otel-collector-sm
  labels:
    release: prometheus # /!\ Très important : doit correspondre au label attendu par ton opérateur Prometheus
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: otel-collector # Label du service créé par l'opérateur OTel
  endpoints:
  - port: prometheus # Le nom du port défini dans l'exportateur du Collector
    interval: 15s
